* {
    margin: 0px;
    padding: 0px;
}

.home {
    background: linear-gradient(130deg, #fff  45%, #4e0685 45%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
a{
    text-decoration: none;
}